.sec2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3cm;
    margin:auto;
    display: flex;      
    padding-left: 2cm;
}

.p2{
position: static;

font-style: normal;
font-weight: 300;
font-size: 34px;
line-height: 55px;
text-align: center;


text-align: center;
}
